<div id="myModal" class="modal">
  <div class="modal-content reg-window">
    <img (click)="closeRegister()" class="close" src="images/vector/close.svg" alt="close">
    <form class="form-register" *ngIf="form" [formGroup]="form" (ngSubmit)="submit()">

      <h2 class="form-register__title">Регистрация</h2>
      <div class="form-register"
           [ngClass]="{invalid: form && form.get('login')?.touched && form.get('login')?.invalid}">
        <input class="form-register__inp" type="text" name="login" placeholder="Логин" id="login"
               formControlName="login" required>
        <div *ngIf="form && form.get('login')?.touched && form.get('login')?.invalid">
          <small *ngIf="form && form.get('login')?.touched && form.get('login')?.invalid">Введите поле логин</small>
        </div>
      </div>

      <div class="form-register"
           [ngClass]="{invalid: form && form.get('email')?.touched && form.get('email')?.invalid}">
        <input class="form-register__inp" type="email" name="email" placeholder="E-mail" id="e-mail"
               formControlName="email" required>
        <div *ngIf="form && form.get('email')?.touched && form.get('email')?.invalid">
          <small *ngIf="form && form.get('email')?.errors?.['required']">Введите поле E-mail</small>
          <small *ngIf="form && form.get('email')?.errors?.['email']">Введите корректный E-mail</small>
        </div>
      </div>

      <div class="form-register"
           [ngClass]="{invalid: form && form.get('password')?.touched && form.get('password')?.invalid}">
        <input class="form-register__inp" type="password" name="password" placeholder="Пароль" id="password"
               formControlName="password" required>
        <div *ngIf="form && form.get('password')?.touched && form.get('password')?.invalid">
          <small *ngIf="form && form.get('password')?.errors?.['required']">Введите пароль</small>
          <small *ngIf="form && form.get('password')?.errors?.['minlength']">Пароль должен быть не меньше 6
            символов</small>
        </div>
      </div>
<!--      <div class="form-register"-->
<!--           [ngClass]="{invalid: form && form.get('password')?.touched && form.get('password')?.invalid}">-->
<!--        <input class="form-register__inp" type="password" name="password-repeat" placeholder="Повторите пароль"-->
<!--               formControlName="password"-->
<!--               id="password-repeat">-->
<!--        <div *ngIf="form && form.get('password')?.touched && form.get('password')?.invalid">-->
<!--          <small *ngIf="form && form.get('password')?.errors?.['required']">Пароли не совпадают</small>-->
<!--        </div>-->
<!--      </div>-->

      <div *ngIf="errorMessage"> {{ errorMessage }}</div>
      <button [disabled]="form.invalid || submitted" type="submit" class="form-register__btn">Зарегестрироваться
      </button>
      <button (click)="closeRegister(); authModal.openLogin()" class="form-register__link">У меня уже есть аккаунт
      </button>
    </form>
    -
  </div>
</div>
