<header class="header">
  <div class="header__desktop">
    <nav class="header__nav">
      <div class="header__nav-first">
        <a class="header__logo" href="#"><img src="images/logo_header_b.jpeg" alt="Логотип TomeTrove"></a>
        <a class="header__link" href="#">О нас</a>
        <a class="header__link" href="#">Почему мы</a>
        <a class="header__link" href="#">Контакты</a>
      </div>
      <div>
        <button (click)="authModal.openLogin()">Личный кабинет</button>
      </div>
    </nav>
  </div>
  <div class="header__mobile">
    <nav class="header__nav">
      <div class="menu">
        <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
        <label for="burger-checkbox" class="burger"></label>
        <ul class="menu-list">
          <li><a href="#" class="menu-item">Главная</a>
          <li>
          <li><a href="#" class="menu-item">О нас</a>
          <li>
          <li><a href="#" class="menu-item">Команда</a>
          <li>
          <li><a href="#" class="menu-item">Контакты</a>
          <li>
        </ul>
      </div>
      <a class="header__logo" href="#"><img src="images/logo_header_b.jpeg" alt="Логотип TomeTrove"></a>
      <a class="" href="#"><img src="images/vector/profile.svg" alt="Профиль"></a>
    </nav>
  </div>
</header>
<div class="wrapper">
  <main class="main">
    <section class="intro">
      <div class="intro__main">
        <div class="intro__main__content">
          <img class="bright__img" src="images/bright.png" alt="">
          <div class="intro__content">
            <div class="intro__main__title">
              <h1 class="intro__title">TomeTrove</h1>
              <h2 class="intro__status">Ваш статус: [неизвестно]</h2>
            </div>
            <div class="intro__main__subtitle">
              <p class="intro__slogan">Только 7% людей доходят до уровня ADVANCED. Готовы проверить
                свою дисциплину и мотивацию?</p>
              <h2 class="intro__subtitle">ДОСТУП К ЭТИМ КНИГАМ ОГРАНИЧЕН</h2>
            </div>
            <button class="intro__button">Расшифровать доступ</button>

          </div>
          <img class="intro__image-logo" src="images/intro.png" alt="Коллекция редких книг TomeTrove">
          <button class="intro__button_mb">Узнать подробнее</button>
        </div>
      </div>
    </section>
    <section class="about-block">
      <div class="about-block__main">
        <div class="about__title"><h2>ЗАКРЫТАЯ БИБЛИОТЕКА ДЛЯ ИЗБРАННЫХ С 2025</h2></div>
        <div class="about__line"></div>
        <div class="about__text">
          <h2 class="about__text-title">TOMETROVE – Онлайн-платформа для формирования тематических подборок
            книг с 2025 года </h2>
          <div class="about__line about__line-mobile"></div>
          <p class="about__text-center">С 2025 года мы взламываем систему образования:
            — 932 пользователя уже получили знания, которые скрывают.
            — 7% достигли уровня Advanced, минуя «официальные» курсы.
            — 8 книг = 2 года университетской программы..</p>
          <h3 class="about__text-last d-n">⚠️ ЭТА ИНФОРМАЦИЯ МОЖЕТ ИЗМЕНИТЬ ВАШУ КАРЬЕРУ</h3>
          <div class="about__line about__line-mobile"></div>
          <h3 class="about__text-last d-b">⚠️ ЭТА ИНФОРМАЦИЯ МОЖЕТ ИЗМЕНИТЬ ВАШУ КАРЬЕРУ</h3>
        </div>
      </div>
    </section>
    <section class="advantages-block">
      <h2 class="advantages__title">ДИВЕРСИФИКАЦИЯ ЗНАНИЙ — ВАШЕ НЕЗАКОННОЕ ПРЕИМУЩЕСТВО</h2>
      <div class="advantages-block__main">
        <div class="advantages__private">
          <p class="private__percentage__txt">192,000 ЧАСОВ УТЕЧКИ ЗНАНИЙ</p>
          <h2 class="private__quantity__txt">98%</h2>
          <h3 class="private__label__txt">КНИГ ОТСУТСТВУЮТ В ОТКРЫТОМ ДОСТУПЕ</h3>
        </div>
        <div class="advantages-block__main-last">
          <div class="advantages__uniqueness">
            <p class="percentage__txt">43%</p>
            <h2 class="quantity__txt">1,847</h2>
            <h3 class="label__txt">УНИКАЛЬНЫХ ПОДБОРОК</h3>
          </div>
          <div class="advantages__level">
            <p class="percentage__txt">+2%</p>
            <h2 class="quantity__txt">7%</h2>
            <h3 class="label__txt">ПЕРЕШЛИ НА ADVANCED</h3>
          </div>
          <div class="advantages__trust">
            <p class="percentage__txt">+245%</p>
            <h2 class="quantity__txt">12 442</h2>
            <h3 class="label__txt">ДОВЕРЯЮТ НАМ</h3>
          </div>
        </div>
      </div>
    </section>
    <section class="benefits-block">
      <h2 class="benefits-block__title">ПОЧЕМУ ЭТО РАБОТАЕТ (ДАЖЕ ЕСЛИ ВАМ ГОВОРЯТ ОБРАТНОЕ)</h2>
      <div class="benefits-block__main">
        <div class="benefits-block__main__btn">
          <div class="benefits-block-plus">
            <div class="block-plus__main">
              <div class="block-plus">
                <div class="block-plus-circle">
                  <img class="block-plus__img" src="images/vector/plus/experts.svg" alt="experts">
                </div>
                <h3 class="block-plus__title">Нелегальная экспертиза</h3>
                <div class="block-plus__description">
                  С 2010 года мы взламываем систему образования,
                  отбирая только 3% книг,
                  <div class="d-n">которые дают
                    реальное преимущество.
                  </div>
                </div>
              </div>
              <div class="block-plus">
                <div class="block-plus-circle">
                  <img class="block-plus__img" src="images/vector/plus/cool.svg" alt="cool">
                </div>
                <h3 class="block-plus__title">До 17 уровней доступа</h3>
                <div class="block-plus__description">От Beginner до Advanced — с чёткими критериями
                  перехода.
                  <div class="d-n">Никакой воды, только проверенные методики.</div>
                </div>
              </div>
              <div class="block-plus">
                <div class="block-plus-circle">
                  <img class="block-plus__img" src="images/vector/plus/dollars.svg" alt="anonymous">
                </div>
                <h3 class="block-plus__title">Полная анонимность</h3>
                <div class="block-plus__description">
                  При желании Ваш прогресс не будет отображаться в
                  открытых профилях.
                  <div class="d-n">Эти знания — только для вас.</div>
                </div>
              </div>
              <div class="block-plus">
                <div class="block-plus-circle">
                  <img class="block-plus__img" src="images/vector/plus/support.svg" alt="support">
                </div>
                <h3 class="block-plus__title">Наша поддержка 24/7</h3>
                <div class="block-plus__description">
                  При возникновении каких-либо проблем вы всегда можете
                  обратиться в поддержку,
                  <div class="d-n">которая быстро решит ваш вопрос!</div>
                </div>
              </div>
            </div>
          </div>
          <button class="benefits-block__btn">Всё это делает нас особенными</button>
        </div>
        <img class="benefits-block__main-img" src="images/benefits.png" alt="benefits">
      </div>
    </section>
    <section class="stages-block">

      <div class="stages-block__main">
        <h2>ЭТИ ЗНАНИЯ УЖЕ ИЗМЕНИЛИ ЖИЗНЬ 847 ЧЕЛОВЕК</h2>
        <h3>ВАША ОЧЕРЕДЬ СДЕЛАТЬ РЫВОК</h3>
        <div class="stages__main">
          <div class="stages-row">
            <div class="stages__main-block">1. Регистрация</div>
            <div class="stages__main-block">2. Категории</div>
            <div class="stages__main-block">3. Пройти тест</div>
          </div>
          <div class="stages-row stages-row--centered">
            <div class="stages__main-block stages__center-block">4. Выбор плана</div>
            <div class="stages__main-block stages__center-block">5. Оплата</div>
          </div>
        </div>
        <button class="stages__btn">ПОЛУЧИТЬ ДОСТУП</button>
      </div>
    </section>
    <section class="form-contact__sect">
      <div class="form-contact__main">
        <h2 class="form-contact__main__title">ЗАПОЛНИТЕ ФОРМУ</h2>
        <h3 class="form-contact__main__small">Чтобы узнать больше о возможностях и условиях.</h3>
        <form class="form-contact__block">
          <div class="form-contact__inputs">
            <input class="form-contact__input" placeholder="Имя" type="text" name="name" id="name">
            <input class="form-contact__input" placeholder="Телефон" type="text" name="phone" id="phone">
            <input class="form-contact__input" placeholder="Почта" type="email" name="email" id="email">
          </div>
          <button class="form-contact__btn">ВСТУПИТЬ В ЗАКРЫТЫЙ КЛУБ</button>
        </form>
      </div>
    </section>
    <section class="contact-block">
      <div class="contact-block__main">
        <h2 class="contact-title">Связаться с нами</h2>
        <div class="contact-question__main">
          <div class="contacts-inf">
            <div class="contacts-inf__txt">
              <h3 class="contacts-inf__title">Если у вас возникли вопросы
                или вы хотите обсудить возможности
                сотрудничества</h3>
              <p class="contacts-inf__p">Свяжитесь с нами с помощью формы
                или по указанным контактным данным ниже.</p>
            </div>
            <div class="contacts-inf-block">
              <div class="contacts-inf-phone">
                <div class="contacts-circle">
                  <img class="" src="images/vector/phone.svg" alt="phone">
                </div>
                <p>+1 585 213 5977</p>
              </div>
              <div class="contacts-inf-mail">
                <div class="contacts-circle">
                  <img class="" src="images/vector/mail.svg" alt="mail">
                </div>
                <p>TomeTrove&#64;gmail.com</p>
              </div>
              <div class="contacts-inf-email-phone">
                <div class="contacts-circle">
                  <img class="" src="images/vector/address.svg" alt="address">
                </div>
                <p>ul.Lenina 12/3</p>
              </div>
            </div>
          </div>
          <div class="form-img__main">
            <img class="triangle__img" src="images/triangle.png" alt="triangle">
            <form action="" class="contacts-form">
              <h2 class="contacts-form__title">Задать вопрос</h2>
              <input class="contacts-form-username" placeholder="Имя" type="text" name="username"
                     id="username">
              <input class="contacts-form-telephone" placeholder="Телефон" type="text" name="telephone"
                     id="telephone">
              <input class="contacts-form-email" placeholder="Email" type="email" name="mail" id="mail">
              <input class="contacts-form-question" placeholder="Ваш вопрос" type="text" name="question"
                     id="question">
              <button class="contacts-form-contacts-form__btn">Отправить</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <a href="#"><img class="footer-logo" src="images/logo_footer.jpeg" alt="logo_footer"></a>
      <p class="footer-copy">Copyright © 2025<br>
        TomeTrove</p>
      <div class="footer-social">
        <div class="footer-social__img">
          <img class="footer-social__img-tg" src="images/vector/social/tg.svg" alt="tg">
        </div>
        <div class="footer-social__img">
          <img class="footer-social__img-vk" src="images/vector/social/vk.svg" alt="vk">
        </div>
      </div>
    </footer>
  </main>
</div>

<script src="script.js"></script>
