@font-face {
    font-family: 'Sora-Bold';
    font-weight: Bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora-Medium';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora-Regular';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
