<header class="header">
  <div class="header__desktop">
    <nav class="header__nav">
      <div class="header__nav-first">
        <a class="header__logo" [routerLink]="['/protected', 'home']"><img src="images/logo_header_b.jpeg" alt="Логотип TomeTrove"></a>
        <a class="header__link" [routerLink]="['/protected', 'home']" fragment="benefits" href="#">Почему мы</a>
        <a class="header__link" [routerLink]="['/protected', 'home']" fragment="how-buying">Как купить?</a>
        <a class="header__link blue" [routerLink]="['/protected','anthology']" href="#">Подборки книг</a>
      </div>
      <div style="overflow: hidden" class="header__nav-last">
          <button mat-button [matMenuTriggerFor]="menu">
            <div class="profile_btn" style="display: flex;">
              <p class="name_user" *ngIf="user?.login">{{ user?.login }}</p>
              <img class="profile_default" [src]="avatarPreview || defaultAvatarUrl"
                   alt="profile_default">
            </div>
          </button>
        <mat-menu style="overflow: hidden" #menu="matMenu">
          <button [routerLink]="['/protected','account','profile']" mat-menu-item>Аккаунт и безопасноть</button>
          <hr>
          <button [routerLink]="['/protected','account','order-list']" mat-menu-item>История покупок</button>
          <hr>
          <button (click)="authService.logout()" mat-menu-item>Выйти</button>
        </mat-menu>
      </div>
    </nav>
  </div>
  <div class="header__mobile">
    <nav class="header__nav">
      <div class="menu">
        <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
        <label for="burger-checkbox" class="burger"></label>
        <ul class="menu-list">
          <li><a href="#" class="menu-item">Главная</a>
          <li>
          <li><a href="#" class="menu-item">О нас</a>
          <li>
          <li><a href="#" class="menu-item">Команда</a>
          <li>
          <li><a href="#" class="menu-item">Контакты</a>
          <li>
        </ul>
      </div>
      <a class="header__logo" href="#"><img src="images/logo_header_b.jpeg" alt="Логотип TomeTrove"></a>
      <a class="" href="#"><img src="images/vector/profile.svg" alt="Профиль"></a>
    </nav>
  </div>
</header>
