<app-header></app-header>
<div class="wrapper">
  <main class="main">
    <section class="books__main__title">
      <div class="books__title-block">
        <div class="books__tittle-txt">Подборки книг</div>
        <div class="books__tittle-amount">Всего XXX подборок</div>
      </div>
    </section>
    <section class="books__main-anthology">
      <div class="books__main-anthology-block">
        <div class="books__main-anthology-filter">
          <div class="filter-search">
            <h2 class="filter-search__title">Поиск</h2>
            <input class="filter-search__inp" placeholder="Введите тему" type="text" name="" id="">
          </div>
          <hr class="line-hr-filter">
          <div class="filter-price">
            <h3 class="filter-price__title">Цена</h3>
            <div class="filter-price-range">
              <input class="filter-price-range_inp min" type="text" placeholder="0₽" name="" id="+">
              <input class="filter-price-range_inp max" type="text" placeholder="2000₽" name="" id="-">
            </div>
          </div>
        </div>
        <div class="books__main-anthology-cards-block">
          <div class="anthology-sort">
            <div class="anthology-sort-title">Популярные</div>
            <div class="anthology-sort-select d-n">
              <div>1</div>
              <div>2</div>
              <div>3</div>
            </div>
          </div>
          <div class="books__main-anthology-cards">
            <div class="books-anthology-card">
              <div class="books-anthology-card__img">
                <img src="images/anthology_test_1.jpg" alt="">
              </div>
              <h3 class="card-name">Бизнес</h3>
              <span>400 ₽</span>
            </div>
            <div class="books-anthology-card">
              <div class="books-anthology-card__img">
                <img src="images/anthology_test_2.jpg" alt="">
              </div>
              <h3 class="card-name">Программирование</h3>
              <span>400 ₽</span>
            </div>
            <div class="books-anthology-card">
              <div class="books-anthology-card__img">
                <img src="images/anthology_test_3.jpg" alt="">
              </div>
              <h3 class="card-name">Коммуникация</h3>
              <span>400 ₽</span>
            </div>
            <div class="books-anthology-card">
              <div class="books-anthology-card__img">
                <img src="images/anthology_test_1.jpg" alt="">
              </div>
              <h3 class="card-name">Коммуникация</h3>
              <span>400 ₽</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <a href="#"><img class="footer-logo" src="images/logo_footer.jpeg" alt="logo_footer"></a>
      <p class="footer-copy">Copyright © 2025<br>
        TomeTrove</p>
      <div class="footer-social">
        <div class="footer-social__img">
          <img class="footer-social__img-tg" src="images/vector/social/tg.svg" alt="tg">
        </div>
        <div class="footer-social__img">
          <img class="footer-social__img-vk" src="images/vector/social/vk.svg" alt="vk">
        </div>
      </div>
    </footer>
  </main>
</div>

<script src="script.js"></script>
